.input{
	width: 360px;
	height: 170px;
	position: relative;
}
.toggleInput{
	width: 360px;
	height: 50px;
}
.div{
	width: 360px;
	height: 20px;
	font-size: 12px;
	text-align: left;
	padding: 0px 5px;
}
.box{
	display: flex;
}
.inputbox{
	text-decoration: none;
    width: 100%;
    height: 30px;
	padding: 0px 15px;
	font-size: 17px;
	color: #676767;
	border-radius: 8px;
	border: 1.5px solid #ddd;
}

.vaildMsg{
	width: 100%;
	padding: 3px 5px 10px 5px;
	font-size: 12px;
	text-align: left;
	color: rgb(197, 43, 43);
}

@mixin icon-set($color: #dcdcdb) {
	color: $color;
	padding: 8px 30px;
	right: -20px;
	text-align: center;
	position: absolute;
	
}

.active-icon{
	@include icon-set(#10afaf);
}

.inactive-icon{
	@include icon-set();
}

.show{
	@include icon-set(#10afaf);
}

.hide{
	@include icon-set();
}